<table id="doctor-table" align="center">
	<thead>
		<th>ID</th>
		<th>First Name</th>
		<th>Last Name</th>
		{{#if doctor.[0].name}}
			<th>Clinic</th>
		{{/if}}
	<thead>
	<tbody>
		{{#each doctor}}
			
			<tr class="doctor-row">
				<td><a href="/doctor/{{ID}}">{{ID}}</a></td>
				<td>{{first_name}}</td>
				<td>{{last_name}}</td>
				{{#if name}}
					<td>{{name}}</td>
				{{/if}}
			</tr>
			
		{{/each}}
	</tbody>
</table>