<main class="content">

	<table id="clinic-table" align="center">
		<thead>
			<th>ID</th>
			<th>Name</th>
			<th>Address</th>
			<th>City</th>
			<th>State</th>
			<th>Zip</th>
		<thead>
		<tbody>
			{{#each clinic}}
				
				<tr class="clinic-row">
					<td>{{ID}}</td>
					<td>{{name}}</td>
					<td>{{address}}</td>
					<td>{{city}}</td>
					<td>{{state}}</td>
					<td>{{zip}}</td>
					<td class="delete"><button onclick="deleteClinic({{ID}})">Delete</button></td>
					<td class="update"><a href="/clinic/{{ID}}">Update</a></td>
				</tr>
				
			{{/each}}
		</tbody>
	</table>
	
	<br/>
	
	<h3>Add new clinics (fix formatting and error handling):</h3>
	<form id="add-clinic" action="/clinic" method="post">
		Name: <input type="text" name="name"><br>
		Address: <input type="text" name="address"><br>
		City: <input type="text" name="city"><br>
		State (make this a dropdown): <input type="text" name="state"><br>
		Zip Code: <input type="int" name="zip"><br>
		<br>
		<input type="submit" value="Submit">
	</form>
		
</main>