<main class="content">

	<table id="doctor-table" align="center">
		<thead>
			<th>ID</th>
			<th>First Name</th>
			<th>Last Name</th>
			<th>Clinic ID</th>
		<thead>
		<tbody>
			{{#each doctor}}
				
				<tr class="doctor-row">
					<td>{{ID}}</td>
					<td>{{first_name}}</td>
					<td>{{last_name}}</td>
					<td>{{C_ID}}</td>
					<td class="delete"><button onclick="deleteDoctor({{ID}})">Delete</button></td>
					<td class="update"><a href="/doctor/{{ID}}">Update</a></td>
				</tr>
				
			{{/each}}
		</tbody>
	</table>
	
	<br/>
	
	<h3>Add new doctors (fix formatting and error handling):</h3>
	<form id="add-doctor" action="/doctor" method="post">
		First name: <input type="text" name="first_name"><br>
		Last name: <input type="text" name="last_name"><br>
		C_ID (make this a dropdown): <input type="int" name="C_ID"><br>
		<br>
		<input type="submit" value="Submit">
	</form>
	
</main>