<form id="update-doctor" action="/doctor" method="post">
	<label for="first_name-input">First name: </label><input type="text" name="first_name" id="first_name-input" value="{{doctor.first_name}}" required><br>
	<label for="last_name-input">Last name: </label><input type="text" name="last_name" id="last_name-input" value="{{doctor.last_name}}" required><br>
	<label for="clinic-selector">Clinic (add handlebars helper for default): </label><select name="C_ID" id="clinic-selector" value="{{doctor.C_ID}}"> 
		{{#each clinic}}
			<option value="{{ID}}">{{name}}</option>
		{{/each}}
	</select><br>
</form>

<br/>
<button onclick="updateDoctor({{doctor.ID}})">Update</button>

</tr><br/><br/><h2>Patients:</h2><tr>

{{> patients}}

<br/><br/>

<h3>Add Existing Patient: </h3>

<form id="add-patient" action="/doctor/add-patient" method="post">
	<select name="SSN" id="patient-selector"> 
		{{#each not_patient}}
			<option value="{{SSN}}">{{first_name}} {{last_name}} ({{SSN}})</option>
		{{/each}}
	</select>
</form>

<br/>
<button onclick="addPatient({{doctor.ID}})">Insert</button>

<br/><br/><h2>Prescriptions:</h2>

{{> prescriptions}}