<main class="content">

	<h1>Update {{clinic.name}}:</h1>
	
	<form id="update-clinic" action="/clinic" method="post">
		Name: <input type="text" name="name" value="{{clinic.name}}"><br>
		Address: <input type="text" name="address" value="{{clinic.address}}"><br>
		City: <input type="text" name="city" value="{{clinic.city}}"><br>
		State (make this dropdown): <input type="text" name="state" value="{{clinic.state}}"><br>
		Zip Code: <input type="int" name="zip" value="{{clinic.zip}}"><br>
	</form>
	
	<button onclick="updateClinic({{clinic.ID}})">Update</button>
	
</main>
